#about-hero-overlay-text {
  margin-top: 25%;
}

.devInfo {
  margin: auto;
  background-color: #898f9b;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height:50vh;
  padding: 35px;
  font-family: "Inter", sans-serif;
}

.devCard {
  width: 25%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fdfffc;
  opacity: 0.5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.devCard:hover {
  background-color: #e3e3e3;
  opacity: 0.6;
  cursor: pointer;
  color: red;
}

#devBody {
  width: 100%;
  justify-content: space-around;
  margin: auto;

}

#dealership-description {
  background-color: #df2935;
  font-family: "Inter", sans-serif;
}

#about-wolves {
  background-color: #df2935;
  font-family: "Inter", sans-serif;
}

#our-purpose {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#purpose-header {
  text-align: left;
  width: 30%;
  margin: auto;
}

#purpose-body {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  margin: auto;
  height: 50vh;
  width: 50%;
}

#our-purpose img {
  display: none;
}

#container-h2 {
  font-size: 1.5625rem;
  text-align: center;
  margin: auto;
}
