.ahero {
  /* Hero on the about us page*/
  margin: auto;
  background-image: url("https://s3-alpha-sig.figma.com/img/2f11/c84d/9d6b870b295e95f3bf89e153227ff458?Expires=1668384000&Signature=fMUKc8SNkcu0Pmc-jW~7RoRtKugi86SQIK3TzTB4vUaF3nmPAeLepl7-xmPP-rZoAOUwLcr63hbBe0hbp--kasepuBNmj4OoIMLqTgwTyU5idNigqhPQl51GCU7qVYEctX8WRO5xSHRLKLGQwv0cgynbRdA2IJpw4M2vLqSD3AkUzil-700YUojIZHuwz1UpzuMmc0WKUfyp1dhMIsmX-tG2Pcvh~f~YHZHRkUZffQJLrFQVX7hm-tJlWzp4L3vZm6KAXc-v1xRnOecbmPLp6oWIJJ-HZsA94bichsfXGq5otOx8sPA97eOBkgoDffZ1AF9-ONfLVQQcgVtHO8meuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  height: 100vh; /* You must set a specified height */
  width: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Resize the background image to cover the entire container */
  background-size: cover;
  display: flex; /* Flexbox Layout*/
  justify-content: center;
  font-family: "Inter", sans-serif;
}



.devInfo {
  margin: auto;
  background-color: #898f9b;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height:45vh;
  padding: 35px;
  font-family: "Inter", sans-serif;
}

.devCard {
  width: 25%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fdfffc;
  opacity: 0.5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.devCard:hover {
  background-color: #e3e3e3;
  opacity: 0.6;
  cursor: pointer;
  color: red;
}

#devBody {
  width: 100%;
  justify-content: space-around;
  margin: auto;
}