.car-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.car-image-slide {
    width: 100%;
    height: 80vh;
    margin: auto;
    border: none;
}

#specs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    height: 60vh
  }

.info-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    right: 0px;
    margin: none;
}

.extra-images {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    width: 50%;
    gap: 10px;
    overflow-y: scroll;
    padding: 0px;
    background-color:brown
}

.extra-images::-webkit-scrollbar {
    border-radius: 20px;
    background-color: (rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.extra-images::-webkit-scrollbar-thumb {
    background-color: rgb(99, 31, 31);
    border-radius: 20px;
}

.extra-images::-webkit-scrollbar-track {
    background-color: rgb(192, 177, 177);
    opacity: .5;
    border-radius: 20px;
  }

.extra-image {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 0.2rem solid black;
}

#text-info-container {
    min-height: 50vh;
}

#text-body-info {
    color: red; 
}
