@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap");

.Footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 37.5vh;
  padding: 19px;
  padding-left: 0px;
  position: relative;
  justify-content: flex-start;
  background-color: #121619;
  bottom: 0;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: left;
  overflow-x: hidden;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 20px;
  margin-right: 15vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 30px;
  margin-right: 40px;
  width: 32%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-wolves-icon {
  width: 35vh;
  height: 100%;
  opacity: 0.7;
  margin: none;
  margin-right: none;
  cursor: pointer;
}

#wolves-icon {
  opacity: 1;
}

#site-name {
  margin-right: 10%;
  font-size: 2.25rem;
}

.footer-header {
  font-size: 2.25rem;
}

#list {
  font-size: 1.8125rem;
  cursor: pointer;
}

#contact-list {
  list-style-type: none;
}

#description {
  padding-left: 1.25rem;
}
