@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap");

.Footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0.63rem;
  width: 100%;
  height: 30vh;
  position: relative;
  justify-content: space-around;
  background-color: #121619;
  bottom: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#wolves-icon {
  width: 10%;
  height: 50%;
  opacity: 0.7;
  margin: auto;
  cursor: pointer;
}

#wolves-icon: hover {
  opacity: 1;
}

#site-name {
  margin-right: 10%;
  font-size: 36px;
}

.footer-header {
  font-size: 36px;
}

#list {
  font-size: 24px;
  cursor: pointer;
}

#contact-list {
  list-style-type: none;
}
