.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    max-width: 550px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-family: "Inter", sans-serif;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  .modal-body {
    padding: 1rem;
    font-family: "Inter", sans-serif;
    text-align: left;
  }
  
  .image-button {
    width: 30%;
    height: auto;
    cursor: pointer;
  }
  