.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal {
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: none;
  text-align: center;
}

.modal-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}

.modal-body {
  display: flex;
  padding: 20px;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.modal-left {
  margin: auto;
  width: 30%;
  padding-right: 20px;
}

.modal-right {
  margin: auto;
  width: 70%;
}

.modal-text {
  text-align: center;
  font-size: 25px;
}

.modal-img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.modal-button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.modal-button:hover{
  color: #c50f0f;
}


