.multi-section-container {
    display: flex;
    width: 100%;
    height: 60vh;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto;
    overflow: hidden;
  }

.reviewer-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.reviewer-image {
    width: 40vh;
    height: 25vh;
    margin: auto;
    border-radius: 10px;
  }
