.section-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  font-family: "Inter", sans-serif;
}

#dealership-description {
  background-color: #DF2935;
  font-family: "Inter", sans-serif;
}

#about-wolves {
  background-color: #DF2935;
  font-family: "Inter", sans-serif; 
}

#section-three {
  justify-content: start;
  gap: 50px;
  background-color: #898F9B;
  height: 30%;
  font-family: "Inter", sans-serif;
}

#our-purpose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Inter", sans-serif; 
  height: 50%;
}

#purpose-header {
  text-align: left;
  width: 30%;
  margin: auto;
  font-family: "Inter", sans-serif; 
  font-weight: bolder;
}

#purpose-body {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  margin: auto;
  width: 50%;
  font-family: "Inter", sans-serif; 
}

#our-purpose img {
  display: none;
}

.theBody {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.theHeader {
  display: flex; 
  flex-direction: row; 
  margin: auto;
  font-family: "Inter", sans-serif;
  padding-top: 50px;
  text-align: center;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.image {
  width: 60vh;
  height: 40vh;
  margin: auto;
  border-radius: 10px;
}

#header {
  text-align: center;
  margin-top: 5%;
  font-size: 2.5rem;
}

#para {
  font-size: 25px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@media (max-width: 767px) {
  #para {
    font-size: 20px;
    width: 80%;
  }
}


#section-search {
  top: 30%;
  margin-top: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .columnc {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 100vh;
  }
}

.row {
  display: flex;
}

.columnc {
  float: left;
  width: 33.33%;
  padding: 0 15px;
}

/* Clear floats after the columns */
.rowc:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  flex: 50%;
}

#query {
  font-size: 20px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  /*background-image: url("https://replit.com/@DanielMekuria1/BPAWebsiteState#img/daniel.jpeg");*/
  background-color: black;
  color: #fdfffc;
  opacity: 0.5;
}

.card:hover {
  background-color: #e3e3e3;
  opacity: 0.6;
  cursor: pointer;
  color: red;
}
